.bought{
  position: relative;
  width: 100%;
  height: 100vh;
  .bought__top{
    width: 100%;
    height: 498px; 
    background: url('../../../assets/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9px;
    position: absolute;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
   
  }
  .bought__item{
  .bought__item_img{
    margin-top: 98px;
  }
  .bought__item_lvl{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    font-family: var(--monsterrat-font);
    font-size: 24px;
    font-weight: 600;
    h3{
   color: #000000;
    }
    p{
      color: #959595;
    }

  }

  .bought__prize{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    h4{
      text-align: start;
      font-size: 14px;
      color: #747272;
      padding-bottom: 4px;
    }
    .bought__prize_item{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      width: 100%;
      height: 48px;
      background: var(--text-color);
      border-radius: 10px;
      color: var(--primary-color);


    }
  }
  .bought__task{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    h4{
      text-align: start;
      font-size: 14px;
      color: #747272;
      padding-bottom: 4px;
    }
    .bought__task_item{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 4px;
      width: 100%;
      height: 48px;
      background: var(--primary-color);
      border-radius: 10px;
      color: #000000;


    }

  }




  .bought__advantage{
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    h4{
      text-align: start;
      font-size: 14px;
      color: #747272;
      padding-bottom: 4px;
    }
    .bought__advantage_item{
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 4px;
      width: 100%;
      height: 48px;
      background: var(--text-color);
      border-radius: 10px;
      color: var(--primary-color);


    }
  }

     
  
   
 
   }
   .swiper {
    width: 95%;
    // height: 650px;
    
    
 
     background: none;
     
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  .swiper-button-next, .swiper-button-prev {
  
    width: 32px; /* Размер стрелки */
    height: 32px;
    border-radius: 50%;
  }
  
  /* Изменяем цвет стрелок */
  .swiper-button-next::after, .swiper-button-prev::after {
    color: black;  /* Белый цвет стрелки */
    font-size: 18px; /* Размер стрелки */
    font-weight: bolder;
  }
  
  /* Позиционирование стрелок */
  .swiper-button-next {
    right: 10px;
    top: 50.2%;
  }
  
  .swiper-button-prev {
    left: 10px;
    top: 50.2%;
  }

}