.footer{
  width: 100%;
  max-width: 393px;
  position: fixed;
  margin: auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  background: url('../../../assets//navigation.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
 
  min-height: 94px;

  .footer__navigation{

    width: 90%;

    margin: auto;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

    .footer__navigation__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      width: 33%;
      margin-bottom: 20px;
    
      .navigation__line {
        width: 39px;
        height: 2px;
        background: #B0B0B0;
      }
    
      svg {
        fill: #B0B0B0;
      }
    
      &:nth-child(1) {
        .navigation__line {
          margin-bottom: 18px;
          // margin-right: 4px;
        }
      }
    
      &:nth-child(2) {
        .navigation__line {
          margin-bottom: 14px;
        }
      }
    
      &:nth-child(3) {
        .navigation__line {
          margin-bottom: 25px;
       
        }
    
        svg {
          fill: none;
        }
      }
    
      // Медиазапросы для адаптивности
      @media (max-width: 768px) {
        width: 50%; // измените на 50% для средних экранов
     
    
        .navigation__line {
          width: 30px;
          margin-bottom: 10px;
        }
      }
    
      @media (max-width: 480px) {
        width: 100%; // делаем элементы на всю ширину экрана
      
    
        .navigation__line {
          max-width: 39px;
          margin-bottom: 8px;
        }
      }
    
      @media (max-width: 380px) {
        width: 100%; // при экранах меньше 380px делаем элементы на всю ширину
     
      
          .navigation__line {
            max-width: 39px;// уменьшаем ширину линии для маленьких экранов
            margin-bottom: 10px !important;
         
            
          }

        
          
        
      

      }
    }

  }

}

.icon-active{
  fill: #FEAC3E !important;
}