.footer{
  width: 100%;
  max-width: 393px;
  position: fixed;
  margin: auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  background: url('../../../assets//navigation.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
  min-height: 94px;

  .footer__navigation{

    width: 90%;

    margin: auto;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    

    .footer__navigation__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      width: 33%;
    
      margin-bottom: 20px;
      .navigation__line{
        width: 39px;
        height: 2px;
        background: #B0B0B0;
      }
      svg{
        fill: #B0B0B0; 

       
      }
      &:nth-child(1) {
        .navigation__line{
          margin-bottom: 18px;
        }
       
      }
      &:nth-child(2) {
        .navigation__line{
          margin-bottom: 15px;
        }
       
      }
      &:nth-child(3) {
        .navigation__line{
          margin-bottom: 25px;
        }
        
        svg{
          fill: none;
        }
      }
      
      

    }

  }

}

.icon-active{
  fill: #FEAC3E !important;
}