.home{
  width: 100%;
  height: 90vh; 

  .home__top{
    height: 60vh; 
    background: url('../../../assets/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 9px;
    padding-bottom: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
 
  .home__bottom{
    width: 90%;
    margin: auto;
 
    .home__start{
      margin-top: 14px;
      h4{
        font-family: var(--monsterrat-font);
        font-weight: 600;
        font-size: 24px;

      }
      p{
        margin-top: 8px;
        font-size: 18px;

      }
    }

  }

  
}