.home{
  width: 100%;
  // height: 90vh; 
  padding-bottom: 60px;
  .home__top{
    height: 498px; 
    background: url('../../../assets/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 9px;
    padding-bottom: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  
  }
 
  .home__bottom{
    width: 90%;
    margin: auto;
 
    .home__start{
      margin-top: 14px;
      h4{
        font-family: var(--monsterrat-font);
        font-weight: 700;
        font-size: 18px;

      }
      p{
      
        font-size: 18px;

      }
      .home__btn{
        position: relative;
        img{
          position: absolute;
          right: 0;
          top: 15px;
          // transition: 500ms ease-in;
          animation: moveCursor 1.5s ease-in-out infinite;
          animation-delay: 0.5s;
          
        }
      }
    
    }

  }

  
}


@keyframes moveCursor {
  0%, 100% {
    transform: scale(1.3);
  }
<<<<<<< HEAD
  50%{
    transform: translate();
  }
 
  100% {
    transform: scale(1);

=======
  50% {
    transform: scale(1);
>>>>>>> 9165568fd6b5dc4981ce4150c5fcf7fe0fa194ce
  }
}